.chatContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
  }
  
  .messagesContainer {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .inputContainer {
    display: flex;
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
  }
  
  .sendButton {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sendButton:hover {
    background-color: #45a049;
  }
  