.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message {
  max-width: 70%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.userMessage {
  align-self: flex-end;
  background-color: #e1ffc7;
}

.assistantMessage {
  align-self: flex-start;
  background-color: #f0f0f0;
}

.messageText {
  word-wrap: break-word;
}

.darkModeText {
  color: #000;
}
